body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fae3f4;
    margin: 0;
    padding: 20px;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(#fae3f4 , #ff559f);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(231,60,127);
    text-align: center;
}

h1 {
    color: #ce4f81;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #a8416e;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a8416e;
}
